<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.don.othello" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuPage"
            android:label="@string/title_activity_menu_page" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RulesPage"
            android:label="@string/title_activity_rules_page" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SpalshScreen.Othello"
            android:label="@string/title_activity_othello" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".HighScores"
            android:label="@string/title_activity_high_scores" >
        </activity>
        <activity
            android:name=".SpalshScreen.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Othello"
            android:theme="@style/FullscreenTheme" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".RuleTwo"
            android:label="@string/title_activity_rule_two" >
        </activity>
        <activity
            android:name=".RuleThree"
            android:label="@string/title_activity_rule_three" >
        </activity>
        <activity
            android:name=".ViewScores"
            android:label="@string/title_activity_view_scores" >
        </activity>
    </application>

</manifest>
